<div class="container text-center">
  <h1> Your Profile </h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" class="avatar-large">
  <p> <strong>Email:</strong>  <%= @user.email %> </p>
  <p> <strong>Phone number:</strong> (186)285-7925 </p>
  <p> <strong>Location:</strong> Berlin </p>
</div>
