<div class ="homecontainer">
  <div class="container">
  <h1>Whatever your outdoor heart desires: <span id="banner-typed-text"></span></h1>
  <form id = "homeform">
    <div class="input-group flex-nowrap" id="location">
      <i class="fas fa-search" id="icon"></i>
      <input type="text" class="form-control" placeholder="enter a location" aria-label="Username" aria-describedby="addon-wrapping" id="inputlocation">
    </div>
    <div class ="dateSearh">
      <div class="input-group flex-nowrap" id="date">
        <i class="fas fa-calendar-week" id="icon"></i>
        <input type="date" class="form-control" aria-label="Username" aria-describedby="addon-wrapping" id ="dateinput">
      </div>
      <a class ="search" id ="searchBtn">search</a>
    </div>
  </form>
  </div>
</div>
