<div class ="homecontainer">
  <div class="container">
    <h1>Whatever your outdoor heart desires: <span id="banner-typed-text"></span></h1>

    <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :location, input_html: {value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
