<h1> This are all the Reservations for product: <%= @reservation %></h1>
<p>link to the page you're on --->
<%= link_to "all reservation", listing_reservations_path(@listing) %>
</p>

<p>link to the page reservations show --->
<%= link_to "show reservation", listing_reservations_path(@listing) %>
</p>
