reservation new

<p>link to the page reservations index ---></p>
<% #= link_to "all reservation", "/listings/6/reservations/new" %>


<a href="/listings/<%=params[:listing_id]%>/reservations/new">SRDR</a>
