<!-- LOGIC for this -->

<!-- on this page will be shown the confirmation of the reservation -->
<!-- so the confirmation in in the show and not in the new in reservations, because new is always the for  -->
<!-- and we have the form in listings/id -->
<!-- we need to redirect to the listing show so we can display the listings and the reservation in one show -->
<!-- in the listing show the reserrvation data is available thanks to the definition in the lisitngs show controller -->

<!-- be careful -> the presentation schema has changed, now we are using 2 dates and not one -->



<p>functionality explained in comments</p>
<p>your code here ;)</p>
