#searchBtn{
  color:white;
  margin-left: 10px;
  background-color:#5E5D5D;
  border-radius: 20px;
  height: 40px;
  width:100px;
  align-items: center;
  align-self: end;
  display:flex;
  padding: 10px 20px;
  text-decoration: none;
}

#btn-all{
  color:white;
  background-color:#47493B;
  align-items:center;
  text-decoration:none;
  padding: 8px 32px;
}

#btn-all:hover{
  opacity: 80%;
}

.showBtn{
  display:flex;
  flex-wrap: wrap;
  width:50px;
}
