.navbar-lewagon {
  background: #D0CDCB;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
