.navbar-lewagon {
  background: #C4C4C4;
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
